.notes-container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    color: #333;
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    color: #666;
}

/* Existing styles... */

/* Existing styles... */

.quote-container {
    margin-top: 40px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: right; /* Aligns quote content to the right */
}

.quote-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns quote and author to the center horizontally */
    text-align: center; /* Aligns text within the container */
}

.quote-text {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 5px; /* Adds some space between quote and author */
}

.quote-author {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: #666;
    margin-top: 10px; /* Adds margin to move the author text down */
}


.quote-divider {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0px;
    color: #ccc;
}
