.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the wrapper takes up at least the height of the viewport */
    justify-content: space-between; /* Align items with space between */
}


/* Styles for the content wrapper (to contain the main content) */
.content-wrapper {
    flex: 1; /* Allow the content to expand and fill remaining space */
    padding: 10px; /* Adjust padding as needed */
    margin: 20px;
}